*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(18, 77, 100);
}

/*----------------------------- BMI calculator, Currency convertor ------------*/
.bmiCalculator, .container{
    display: none;    
    border: 2px solid rgb(129, 117, 117);
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 10px rgb(60, 104, 110);
}

h2{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.buttonContainer {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between buttons */
    margin-top: 15px;
}

#bmiBtn, #back, #backBtn, #exchange {
    color: white;
    margin: 10px;
    flex: 1; /* Allow buttons to grow equally */
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(214, 142, 8);
    background: rgb(218, 129, 14);
    box-shadow: -3px -3px 10px rgb(133, 107, 107);
    font-size: 25px;
    cursor: pointer;
}

#height, #weight{
    /* border: black; */
    padding: 8px;
    margin: 10px;
    border-radius: 8px;
    display: inline;
    font-size: 25px;
    background: white;
    color: black;
    text-align: center;
}

.bmi, .amount{
    margin-top: 15px;
    color: white;
    font-size: 24px;
}

#bmiOutput{
    margin : 10px;
    border: black;
    display: none;
    background: rgb(91, 241, 204);
    font-size: 25px;
    color: rgb(20, 6, 6);
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#height_error, #weight_error{
    color: red;
}


/* -----------------------------currency convertor--------- */
.msg {
    text-align: center;
    margin : 10px;
    border: black;
    background: rgb(91, 241, 204);
    font-size: 25px;
    color: rgb(141, 20, 20);
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

form {
    margin: auto;
    padding: 10px;
    color: white;
}

form select,
button{
    width: 100%;
    padding: 10px;
    border-radius: 0.75rem;
    margin: auto;  
    border: none;
    outline: none;
}

form input {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    height: 3rem;
    padding-left: 0.5rem;
    background: white;
    border-radius: 0.75rem;

}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img {
    max-width: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    border: 1px solid lightgray;
    width: 7.5rem;
    height: 3rem;
    padding: 1px;
}

.select-container select {
    font-size: 0.9rem;
    width: auto;
}


/* ----------------calculator--------------------- */
.calculator{
    border: 2px solid rgb(129, 117, 117);
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 10px rgb(60, 104, 110);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder{
    color: white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 25%;
    box-shadow: -3px -3px 10px rgb(133, 107, 107);
    font-size: 20px;
    cursor: pointer;
}

.equalBtn{
    background: #fa5f05;
}

.operator{
    color: #f02d0a;   
}


.div2 {
    color: #f02d0a;
    background-color: rgb(108, 202, 240);
    width: 145px;
    margin: 10px;
    border-radius: 12px;
    font-size: 25px;
}




@media (max-width: 350px) {
    body {
        padding: 2px; 
    }

    /* -----------------------Calculator---------------- */
    .calculator, .ageCalculator, .currency {
        width: 100%; 
        padding: 2px; 
    }

    input {
        width: calc(100% - 20px); 
        font-size: 30px; 
    }

    button {
        width: 15%; 
        height: 50px; 
        font-size: 16px; 
    }

    .div2 {
        width: calc(100% - 20px); 
        font-size: 20px; 
    }
}

/* -------------BMI calculator----------------- */
@media (max-width: 600px) {

    .buttonContainer {
        flex-direction: column; 
        align-items: stretch; 
    }

    #bmiBtn, #back, #backBtn, #exchange {
        width: 100%; 
        margin: 5px 0; 
    }
}
